<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/images/favicon/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon/favicon.png">
    <link rel="icon" type="image/x-icon" href="images/favicon/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>RestoKu</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header-inner">
            <a href="/" class="header-title">
                 RestoKu 
            </a>
        </div>
        <button id="menu" class="header-menu" aria-label="navigation-menu">☰</button>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a href="https://github.com/nurdinahmadalawiyah" target="_blank" rel="noopener">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-title">Dapatkan makanan yang sehat, murah dan berkulitas</h1>
            <p class="hero-tagline">Ayo lakukan pemesanan pertamamu dan dapatkan potongan diskon 30% untuk pemesanan pertamamu</p>
        </div>
    </div>

    <main id="maincontent">
        <section class="content">
            <div class="list">
                <h1 class="list-label">Daftar Restoran</h1>
                <div class="restaurant">
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"npm
                             src="https://restaurant-api.dicoding.dev/images/medium/41"
                             alt="Gambar restoran Bring Your Phone Cafe">
                        <div class="restaurant-item-location">Kota Medan</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 4.6</p>
                            </p>
                            <h1 class="restaurant-item-title">Bring Your Phone Cafe</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Bring Your Phone Cafe"><p>Detail</p></button>
                        </div>
                    </div>

                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/07"
                             alt="Gambar restoran Run The Gun">
                        <div class="restaurant-item-location">Kota Bali</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 4.6</p>
                            </p>
                            <h1 class="restaurant-item-title">Run The Gun</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Run The Gun"><p>Detail</p></button>
                        </div>
                    </div>

                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/29"
                             alt="Gambar restoran Pangsit Express">
                        <div class="restaurant-item-location">Kota Ternate </div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 4.8</p>
                            </p>
                            <h1 class="restaurant-item-title">Pangsit Express</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Pangsit Express"><p>Detail</p></button>
                        </div>
                    </div>
    
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/38"
                             alt="Gambar restoran Ducky Duck">
                        <div class="restaurant-item-location">Kota Malang</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 4.7</p>
                            </p>
                            <h1 class="restaurant-item-title">Ducky Duck</h1>
                            <p class="restaurant-item-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not...</p>
                            <button class="restaurant-item-button" aria-label="Ducky Duck"><p>Detail</p></button>
                        </div>
                    </div>
    
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/40"
                             alt="Gambar restoran Kafein">
                        <div class="restaurant-item-location">Kota Bali</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 3.8</p>
                            </p>
                            <h1 class="restaurant-item-title">Kafein</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Kafein"><p>Detail</p></button>
                        </div>
                    </div>
    
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/08"
                             alt="Gambar restoran Makan mudah">
                        <div class="restaurant-item-location">Kota Malang</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-date">Rating : <p class="restaurant-item-rating-star">★ 4.6</p>
                            </p>
                            <h1 class="restaurant-item-title">Makan mudah</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Makan mudah"><p>Detail</p></button>
                        </div>
                    </div>

                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/32"
                             alt="Gambar restoran Saya Suka">
                        <div class="restaurant-item-location">Kota Surabaya</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 3.6</p>
                            </p>
                            <h1 class="restaurant-item-title">Saya Suka</h1>
                            <p class="restaurant-item-description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not...</p>
                            <button class="restaurant-item-button" aria-label="Saya Suka"><p>Detail</p></button>
                        </div>
                    </div>
    
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/45"
                             alt="Gambar restoran Gigitan Cepat">
                        <div class="restaurant-item-location">Kota Medan</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 4</p>
                            </p>
                            <h1 class="restaurant-item-title">Gigitan Cepat</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Gigitan Cepat"><p>Detail</p></button>
                        </div>
                    </div>
    
                    <div class="restaurant-item">
                        <img class="restaurant-item-thumbnail"
                             src="https://restaurant-api.dicoding.dev/images/medium/04"
                             alt="Gambar restoran Fairy Cafe">
                        <div class="restaurant-item-location">Kota Malang</div>
                        <div class="restaurant-item-content">
                            <p class="restaurant-item-rating">Rating : <p class="restaurant-item-rating-star">★ 3.9</p>
                            </p>
                            <h1 class="restaurant-item-title">Fairy Cafe</h1>
                            <p class="restaurant-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim...</p>
                            <button class="restaurant-item-button" aria-label="Fairy Cafe"><p>Detail</p></button>
                        </div>
                    </div>  
    
                </div>
            </div>
        </section>
    </main>

    <footer>
        <h2>Copyright © 2021 - Restoku</h2>
    </footer>

</body>
</html>
